
/*#LandingArt {*/
    /*max-width: 100%;*/
    /*float: none;*/

/*}*/

img {
    width: 30%; /*30% of parent or body*/
    float: left;
    margin: 1.66%;
}


.col-sm-3{

    color: whitesmoke;
}
#list{
    border-radius: 25px;
    border: 2px solid darkblue;
    padding: 20px;
    
    background-color: whitesmoke;
    color: navy ;
}

.navbar {
    background-color: transparent;
    color: white;
}


.row{
    color: black;
    text-align: center;
    font-family: 'Raleway';
    margin-left: 1.6%;
    margin-right: 1.6%;
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
}
#footer{
    font-family: 'Raleway';
    margin-left: 1.6%;
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
    width: 100%;
    padding-bottom: 20px;

}

p {
    font-family: 'Raleway';
    margin-left: 1.6%;
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
    /*border-bottom: 2px solid #000000;*/
    /*width: 30%;*/
    padding-bottom: 20px;
}

body{
    background: #1A2980;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}